.dynamic-form{
  margin: 0px 10px;
}

.formFields{
  display: flex;
}

.btn-style {
  margin-top: 10px;
  margin-left: 10px;
}

.reset-button {
  margin-top: 12px;
}

.snackbar-success {
  background-color: #4caf50;
  color: white;
}

.snackbar-error {
  background-color: #f44336;
  color: white;
}

